@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
    background-color: #1b1b6c;
    transition: background-color 5000s ease-in-out 0s;
}

/* Custom Scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #aaa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 14px;
    /* border: 3px solid white; */
}

/* Config placehover for div contentable */
[contenteditable='true']:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}

/* React- Cropper custom cirle cropper */
.cropper-crop-box,
.cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

/* @layer components {
    .title-ft {
        @apply font-semibold text-[1.25rem];
    }
    .text-ft {
        @apply text-footer-text text-[1rem] leading-[35px] mt-[20px];
    }
    .icon {
        @apply w-7 h-7  border rounded-full border-footer-color-hover ml-[-20px] text-footer-color-hover hover:bg-footer-color-hover hover:text-white;
    }
    .icon{
    @apply w-7 h-7  border rounded-full border-footer-color-hover ml-[-20px] text-footer-color-hover hover:bg-footer-color-hover hover:text-white;
    } */

@layer base {
    /* li {
        @apply hover:text-footer-color-hover;
    }
    label{
        @apply text-[.938rem] font-medium mb-1
    }
    input{
        @apply pl-10 text-[.875rem] font-normal h-[48px] w-[90%] rounded-md border-[0.5px] hover:border-2 border-footer-color-hover  focus:outline-none
    } */
}

.primary-icon {
    fill: #00a7ac;
}

.transform-gpu {
    transform-origin: center center;
    will-change: transform;
}

::selection {
    background-color: #00a7ac;
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #061421;
    /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
    background-color: #1b1b6c;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}
